/* Header */
header {
  background-color: #202020;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 5px 0;
  background-color: #000000;
  background-position: bottom;
  background-size: cover;
  user-select: none;
}

header .contenedor {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header .contenedor .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  user-select: none;
}

header .contenedor .logo p {
  font-size: clamp(20px, 5vw, 35px);
}

header .contenedor .logo img {
  width: clamp(30px, 5vw, 75px);
  height: auto;
}

header .contenedor p {
  font-size: 35px;
  margin: 0;
  padding: 0 0 0 10px
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: clamp(10px, 2.7vw, 50px);
  align-items: center;
}

header nav ul li {
  display: inline;
  font-size: 18px;
  font-style: italic;
  align-items: center;
  position: relative;
  letter-spacing: 1px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: clamp(13px, 3.5vw, 20px);
}

header nav ul li a:hover {
  color: #d47d42;
  transition: color 0.2s ease-in-out;
}

/* Media Queries */
@media (max-width: 700px) {
  header .contenedor p {
    padding: 0px;
  }

  header .contenedor {
    padding: 0px 10px;
    margin: 0;
  }
}